.footer-container {
    width:100%;
    height:100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.footer-container  p {
    text-align: left !important;
    color:white;
}
.footer-container > h3 {
    text-align: left !important;
    color:white;
}

.footer-grid-container{
    width:90%;
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin:50px 0;
}

.footer-column{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.footer-logo{
    padding-top: 1em;
    width:80px;
    height:auto;
}


.footer-copyright-wrapper{
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    width:90%;
    margin-bottom: 20px;

}

.footer-copyright-wrapper > br {
    color: black;
    width:100%;
}

.footer-copyright {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-flexbox p{
    padding: 0 0 0 20px;
}


@media screen and (max-width: 1200px) {

    .footer-grid-container{
        width:90%;
        display: grid;
        flex-direction: row;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
        margin:50px 0;
        grid-column-gap: 50px;
    }

    .footer-column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-logo{
        padding-top: 1em;
        width:80px;
        height:auto;
    }
}


@media screen and (max-width: 530px) {

    .footer-grid-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-column{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}


@media screen and (max-width: 400px) {

    .footer-copyright{
        display: flex;
        flex-direction: column;
    }

    .footer-flexbox{
        justify-content: flex-start;
    }

    .footer-flexbox p{
        padding: 0 20px 0 0;
    }
}
