.footer-container {
    display: flex;
    flex-direction: column;
    color: white;
    padding: 50px 0 5px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.footer-container:after{
    content:"";
    position: absolute;
    width:100%;
    top:0;
    height:100%;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
}

.footer-grid-container{
    width:100%;
    display: grid;
    color:white;
    margin-bottom:10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    z-index: 5;
}

.footer-container h2 {
    font-size: 16px;
    padding-bottom:10px;
}

.footer-container p {
    text-align: left;
    font-size:12px;
}

.footer-column{
    display: grid;
    grid-template-rows: 1fr;
    padding: 0 20px;

}

.footer-icons{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
    margin:auto;
    width:100%;
    justify-content: space-evenly;
    z-index: 5;



}

.footer-logo{
    width:70px;
    height:100%;
}

a.rounded{
    padding:0 10px !important;
}

.footer-terms{
    width: 100%;
    display: block;
    text-align: center;
    z-index: 5;
    /*flex-direction: column;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 0 20px;*/
    /*flex-direction: column;*/
}

.footer-terms li {
    color:white;
    padding: 0 20px;
    font-size: 12px;
    display: inline-block;
}

.footer-terms a{
    text-decoration: none;
}

.footer-copyright{
    display: block;
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
    margin: 20px 0;
    z-index: 5;

}
