.general-header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    padding-top: 50px;
    justify-content: center;
    white-space: pre-wrap;
}

.general-header span {
    position: absolute;
}

.general-header h1 {
    font-size: 80px;
    font-weight: bolder;
    position: relative;
    text-align: center;
}

.general-header h1:after {
    position: absolute;
    bottom: 20px;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 2px;
    background-color: red;
}

.general-header-line {

}

.general-header p {
    font-size: 25px;
    margin-top: 10px;
}

@media only screen and (max-width: 1100px) {

    .general-header {
        margin-bottom: 20px !important;
    }
}

@media only screen and (max-width: 600px) {

    .general-header h1 {
        font-size: 40px;
    }

    .general-header p {
        font-size: 20px;
    }
}


