.scroll-nav-container{
    width:30px;
    height:70px;
    background-color: red;
    position: fixed;
    right:10px;
    top:50%;
    z-index: 10000;
    display: flex;
    flex-direction: column;
}

.work-nav{

}
