
/*
=====
LEVEL 1. RESET STYLES
=====
*/

.field{
    --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input{
    background-color: transparent;
    border-radius: 0;
    border: none;

    -webkit-appearance: none;
    -moz-appearance: none;

    font-family: inherit;
    font-size: 1em;
}

.field__input:focus::-webkit-input-placeholder{
    color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
    color: var(--uiFieldPlaceholderColor);
    opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field{
    display: inline-block;
}

.a-field__input{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.a-field__input:focus{
    outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field{
    --uiFieldHeight: var(--fieldHeight, 40px);
    --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
    --uiFieldBorderColor: var(--fieldBorderColor);

    --uiFieldFontSize: var(--fieldFontSize, 1em);
    --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

    --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
    --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
    --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);

    position: relative;
    box-sizing: border-box;
    font-size: var(--uiFieldFontSize);
    padding-top: 1em;
}

.a-field__input{
    height: var(--uiFieldHeight);
    padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
    border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);
    width:100%;
}

.a-field__input::-webkit-input-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field__input::-moz-placeholder{
    opacity: 0;
    transition: opacity .2s ease-out;
}

.a-field__input:not(:placeholder-shown) ~ .a-field__label-wrap .a-field__label{
    opacity: 0;
    bottom: var(--uiFieldPaddingBottom);
}

.a-field__input:focus::-webkit-input-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.a-field__input:focus::-moz-placeholder{
    opacity: 1;
    transition-delay: .2s;
}

.a-field__label-wrap{
    box-sizing: border-box;
    width: 100%;
    height: var(--uiFieldHeight);

    pointer-events: none;
    cursor: text;

    position: absolute;
    bottom: 0;
    left: 0;
}

.a-field__label{
    position: absolute;
    left: var(--uiFieldPaddingLeft);
    bottom: calc(50% - .5em);

    line-height: 1;
    font-size: var(--uiFieldHintFontSize);

    pointer-events: none;
    transition: bottom .2s cubic-bezier(0.9,-0.15, 0.1, 1.15), opacity .2s ease-out;
    will-change: bottom, opacity;
}

.a-field__input:focus ~ .a-field__label-wrap .a-field__label{
    opacity: 1;
    bottom: var(--uiFieldHeight);
}

/* a-field_a3 */

.a-field_a3{
    padding-top: 1.5em;
    width:100%;
}

.a-field_a3 .a-field__label-wrap::after{
    content: "";
    box-sizing: border-box;
    width: 100%;
    height: 0;

    opacity: 0;
    border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);
    /*border: var(--uiFieldBorderWidth) solid var(--fieldBorderColorActive);*/

    position: absolute;
    bottom: 0;
    left: 0;

    will-change: opacity, height;
    transition: height .2s ease-out, opacity .2s ease-out;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap::after{
    height: 100%;
    opacity: 1;
}

.a-field_a3 .a-field__input:focus ~ .a-field__label-wrap .a-field__label{
    bottom: calc(var(--uiFieldHeight) + .5em);
}


.field{
    /*--fieldBorderColor: #D1C4E9;*/
    /*--fieldBorderColorActive: #673AB7;   */
    --fieldBorderColor: #ff9298;
    --fieldBorderColorActive: var(--primaryTint);
}

.textarea {
    width: 100%;
    margin-top: 30px ;
    box-sizing: border-box;
    overflow: auto;
    min-height: 200px;
    /*padding: 8px;*/
    resize: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07);
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 6px 6px 6px 6px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
}
.textarea::placeholder {
    color: gainsboro;
}
.textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;}
