@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../shared/landing/LandingText.css";
@import "../shared/landing/MobileLanding.css";
@import "../../components/work/WorkCard.css";
@import "../../components/work/WorkGrid.css";
@import "../shared/header/Navigation.css";
@import "../shared/InputBox/inputbox.css";
@import "../../components/services/serviceCard.css";
@import "../shared/header/footer.css";
@import "../../components/home/slider.css";
@import "../../components/home/testimonial.css";
@import "../shared/scroll-nav.css";
@import "../shared/ScrollDown/scroll-mouse.css";
@import "../../components/home/section.css";
@import "../../components/home/value-cards.css";
@import "../../components/work/worksections/worksection.css";
@import "../../components/shared/landing/landing.css";
@import "~@brainhubeu/react-carousel/lib/style.css";
@import "../../../node_modules/aos/dist/aos.css";

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
    min-height: 100%;
    height:auto;
  }

body {
    font-family: 'Poppins', serif;
    background-color: #1A1A1A;
    min-height: 100%;
    height:auto;
    margin:0;
    /*padding-top: 80px;*/
    color: #343434;
    overflow-x: hidden;
}

#App, #root{
    height:100%;
    min-height: 100%;
}
:root {
    --tintColor: #49cf86;
    --main-txt-color: blue;
    --main-padding: 15px;
}

.pre-load *{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


@font-face {
    font-family: "anurati";
    src: url("../../assets/fonts/Anurati-Regular.otf") format("opentype");
    font-weight: normal;
    font-style:normal;
}

 ::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

 ::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

 ::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


h1 {
    font-size: 50px;
    font-family: 'Poppins', serif;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.25em;
    margin: 0;
    color: #1A1A1A !important;
}

h2 {
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 0.25em;
    margin-top: 0;
    font-weight: bold;
}
h3 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 1em;
    margin-top: 0;
    color:black;
}


a {
    color: inherit;
    text-decoration: none !important;
}

a:hover{
    color:inherit!important;
}


p{
    font-size: 18px;
    text-align: left;
    color: #343434;
}

@media screen and (max-width: 800px) {

    h1{
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }

    p{
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {
    p{
        font-size: 14px;
    }

    h1{
        font-size: 22px;
    }

}


a.rounded {
    padding: 0.3em 1.2em!important;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 6px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s!important;
}

a.rounded:hover {
    border-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

hr {
    background-color: #1A1A1A;
    width: 60%;
    margin: 1em auto;
    height: 1px;
    border: none;
}

.centerButton-wrapper {
    margin: auto;
    text-align: center;
    padding: 1em;

}

.centerButton {
    margin: auto;
    background-color: #1A1A1A;
}

@media all and (max-width: 30em) {
    a.resp {
        display: block;
        margin: 0.2em auto;
    }
}

/*services*/
.services-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #343434;
    background-color: transparent;
    text-align: center;
    flex-direction: column;
    padding:100px 0 100px 0;
}

.margin-work{
    margin:50px 0 0 0;
}

.services-wrapper hr {
    background-color: rgba(0, 0, 0, 0.1);
}

.services-wrapper h2 {
    margin-left: 0;
    font-weight: 600;
    padding-bottom: 2em;
}

.services-wrapper p {
    padding:0;
    width:80%;
    max-width: 700px;
    text-align: justify;
}

.services-wrapper ul {
    padding-bottom: 1em;
}

.services-wrapper ul li:before {
    content: '✓';
}

@media (max-width: 1200px) {
    .services-wrapper {
        padding:0 0 50px 0;
    }

}
