.work-section-container{
    width:100%;
    height:100%;
    position:relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.work-section-padding{
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }



.work-section-landing{
    position: relative;
    width: 80%;
    margin-top: 80px;
    height: 100vh;
    display: grid;
    align-items:  center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.client-name-big{
    font-size: 100px;
}

.landing-video{
    width: 100vw;
    height: 100vh;
}

/*.work-section-landing-image-wrapper{*/
    /*width:100%;*/
    /*height:100%;*/
    /*justify-content: flex-start;*/
    /*display: flex;*/
/*}*/

.work-section-landing > img {
    width:100%;
    height:auto;
}

.work-section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height:100%;
    width:100%;
}

.work-section-title h1 {
    padding-top:0 !important;
}

.work-section-title h1:nth-child(2) {
    max-width: 650px;
}

.work-section-wrapper{
    width:80%;
    height:100%;
}

.work-section-wrapper{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;

}

.work-section-carousel-image{
    width:70%;
    max-width: 500px;
    height:auto;
}

.work-section-wrapper p{
    max-width: 600px;
}


@media screen and (max-width: 1200px) {
    .work-section-landing > img {
        width:80%;
        height:auto;
    }

}


@media screen and (max-width: 500px) {
    .work-section-landing{
        position: relative;
        width: 100vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

/*Animations*/

[data-aos="fade-up-absolute"] {
    transform: translateY(50%);
    opacity: 0;
    transition-property: all;
}

[data-aos="fade-up-absolute"].aos-animate {
    transform: translateY(-50%);
    opacity: 0;
    transition-property: all;
}
