.section-services-grid{
    display: grid;
    grid-row-gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.value-cards-wrapper{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius:50px;
    position:relative;
    justify-content: flex-start;
    align-items: flex-start;
}

.value-cards-wrapper h3{
    color:#1a1a1a;
    padding-top:10px;
}

.value-cards-wrapper p{
    margin-top: 20px;
    text-align: left;
    color:#6a6a6a;
    max-width: 400px;
    width: 90%;
}

.value-cards-image {
    width: auto;
    height: 70px;
}

[data-aos="pop"] {
    transform: scale(0);
    opacity:0;
    transition-property: all;
  }
  
  [data-aos="pop"].aos-animate {
    transform: scale(1);
    opacity:1;
  }