.contact-landing-wrapper {
    background-image: url(../../assets/images/contact/contact-landing-2.jpg);
    background-size: cover;
    background-position-y: center;
    min-height: 60vh;
    background-color: #000000;
    margin-top: 70px;
}

.contact-landing-header {
    margin: auto;
    color: #BAC4C3;
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-landing-header > h1 {
    font-size: 60px;
}

