.contact-landing-wrapper {
    background-image: url(../../assets/images/contact/contact-landing-2.jpg);
    background-size: cover;
    background-position-y: center;
    min-height: 60vh;
    background-color: #000000;
    margin-top: 70px;
}

.contact-landing-header {
    margin: auto;
}

