.fluid-landing-container{
    /*max-width: 700px;*/
    margin: auto;
    min-height: 100vh;
    background-color: #000000;
}

.fluid-landing-transparent-text {
    padding-top: 13vh;
    color: white;
    top: 200px;
    text-align: center;
}

.fluid-landing-transparent-text > h1 {
    font-size: 110px;
    color: white;  /* Fallback: assume this color ON TOP of image */
    background: url(images/test4.jpg) no-repeat;
    background-size:     cover;                      /* <------ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fluid-landing-transparent-text > h2 {
    color: grey;
}

.fluid-landing-image > img {
    width: 100%;

}