@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    font-family: 'Source Sans Pro', serif;
}

h1 {
    font-size: 30px;
    padding-top: 2em;
    margin-left: 5%;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    padding-top: 1em;
    margin-left: 5%;
    margin-top: 0;
}

/*!* Style the navbar *!*/
/*#navbar {*/
/*overflow: hidden;*/
/*background-color: #1F3335;*/
/*}*/

/*!* Navbar links *!*/
/*#navbar a {*/
/*float: right;*/
/*display: block;*/
/*color: #f2f2f2;*/
/*text-align: center;*/
/*padding: 25px;*/
/*text-decoration: none;*/
/*font-size: 20px;*/
/*}*/

.header {
    background-color: #1F3335;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    color: white;
    font-size: 20px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #1F3335;
}

.header li a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 10px;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: darkslategrey;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}


/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}

.logo {
    display: inline;
    vertical-align: top;
    left: 10px;
    width: 90px;
    height: 70px;
    margin-right: 20px;
    fill: white !important;
    padding-left: 1em;
}



/*Landing*/
.landing-wrapper {
    width: 100%;
    padding-top: 60px;
    margin: 0;
    display: inline-block;
    background-image: url("./images/lowpoly.jpg")
}

.landing-wrapper h1 {
    color: white;
    width: 40%;
    font-weight: lighter;
    float: left;
}

.landing-slider {
    color: white;
    float: left;
    height: 400px;
    margin-left: 5%;
    width: 40%;
}

.logoslider-wrapper {
    background-color: #1F3335;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: -5px;
}

.logoslider {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    display: block;
    float: right;
    color: white;
    align-content: center;
}

.logoslider-container {
    padding-left: 4em;
}

.logoslider div {
    align-content: center;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}

#one {
    float: left;
    color: white;
    margin-left: 5%;
    width: 40%;
    vertical-align: center;
    display: inline-block;
}

#one h1 {
    width: 80%;
}

#two {
    overflow: hidden;
    min-height: 300px;
    padding: 50px;

}

#two img {
    width: 100%;
    float: right;
    max-width: 800px;
}

/*make landing responsive*/
@media screen and (max-width: 900px) {
    #one {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }

    #two {
        min-height: 150px;
    }
}



