@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('fonts/fonts.css');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    font-family: 'Montserrat', serif;
    background-color: #1F3335;
    padding-top: 64px;
}

h1 {
    font-size: 30px;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    padding-top: 1em;
    margin-left: 5%;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    padding-top: 1em;
    margin-left: 5%;
    margin-top: 0;
}

a {
    color: inherit;
}

a.rounded {
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

a.rounded:hover {
    border-color: rgba(255, 255, 255, 1);
}

hr {
    background-color: #1F3335;
    width: 60%;
    margin: 1em auto;
    height: 1px;
    border: none;
}

.centerButton-wrapper {
    margin: auto;
    text-align: center;
    padding: 1em;

}

.centerButton {
    margin: auto;
    background-color: #58130E;
}

@media all and (max-width: 30em) {
    a.resp {
        display: block;
        margin: 0.2em auto;
    }
}

.header {
    background-color: #1F3335;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    color: white;
    font-size: 20px;
    top: 0;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #1F3335;
}

.header li a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 10px;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: darkslategrey;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 52em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*dropdown menu bar*/
.header ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #1F3335;
    padding: 0
}

.header ul ul li {
    float: none;
    width: 200px
}

.header ul ul a {
    line-height: 120%;
    padding: 10px 15px
}

.header ul li:hover > ul {
    display: block
}

/*translate button*/
.translate-wrapper {
    display: inline-block;
    float: right;
    margin: auto;
    position: relative;
    user-select: none;
    line-height: 60px;
}

.translate-button {
    height: 100%;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;

}

.modal-container {
    padding: 3em;
    background-color: #1F3335;
    border-radius: 25px;
}

/* Page content */
.content {
    padding: 16px;
}

.logo {
    display: inline;
    vertical-align: top;
    left: 10px;
    width: 90px;
    height: 65px;
    margin-right: 20px;
    fill: white !important;
    padding-left: 1em;
}

/*Landing*/
.landing-wrapper {
    width: 100%;
    /*padding-top: 60px;*/
    margin: 0;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-wrapper h1 {
    color: white;
    width: 40%;
    font-weight: lighter;
    float: left;
    padding-top: 2em;
}

.landing-slider {
    color: white;
    float: left;
    height: 400px;
    margin-left: 5%;
    width: 40%;
}

.logoslider-wrapper {
    background-color: #1F3335;
    padding: 0 0 30px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: -5px;
}

.logoslider-wrapper > h2 {
    padding-bottom: 1em;
}

.logoslider {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    display: block;
    float: right;
    color: white;
    align-content: center;
}

.logoslider-container {
    padding-left: 4em;
}

.logoslider div {
    align-content: center;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}

#landing-text {
    float: left;
    color: white;
    margin-left: 5%;
    width: 40%;
    vertical-align: center;
    display: inline-block;
}

#landing-text h1 {
    width: 80%;
    justify-content: end;
    padding-bottom: 0.5em;
}

#landing-text p {
    text-align: left;
    width: 80%;
    padding-left: 5%;
}

#landing-image {
    overflow: hidden;
    min-height: 300px;
    padding: 50px;
}

#landing-image img {
    width: 100%;
    float: right;

    max-width: 58em;

    /*height: auto;*/
    /*max-height: 600px;*/
}

/*services*/
.services-wrapper {
    background-color: white;
    text-align: center;
}

.services-wrapper h1 {
    margin-left: 0;
}

.services-wrapper p {
    padding: 1em;
}

.services-wrapper ul {
    padding-bottom: 1em;
}

.services-wrapper ul li:before {
    content: '✓';
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
}

.flex-container > div {
    background-color: #FFF;
    width: 24%;
    margin: 10px auto 10px auto;
    font-size: 30px;
}

.flex-container > div > h2 {
    padding-bottom: 5px;
    max-width: 1167px;
    margin-left: 0;
}

.flex-container > div > p {
    padding: 0 20px 20px 20px;
    font-size: 15px;
    width: 80%;
    margin: auto;
    text-align: justify;

}

.flex-container > div > img {
    width: 40%;
    margin: auto;
    display: block;
    max-width: 200px;
}

.full-width {
    width: 100%
}

/*client list*/
.clientGrid {
    color: white;
    margin: 0;
    padding-bottom: 1em;
}

.clientGrid h2, p {
    margin: 0;
    text-align: center;

}

.clientGrid img {
    width: 33%;
    max-height: 100px;
    max-width: 200px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;

}

.clientGrid p {
    padding: 10px 0 15px 0;
}

.centerWrapper600px {
    margin: auto;
    max-width: 600px;
}

.websites {

}

.websites h1 {
    padding: 1em 0 0.4em 3em;
    margin: 0;
}

.web-header {
    background-color: #334749;
}

.websites h2 {
    padding: 1em 0;
    margin: 0;
    color: WHITE;
}

.achievements h1 {
    text-align: center;
    margin: 0;
    padding-bottom: 1em;
}

.portfolio-container {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.portfolio-container > div {
    /*background-color: #1F3335;*/
    background-color: #1F3335;
    fill-opacity: 0.8;
    width: 30%;
    margin: 10px auto 10px auto;
    font-size: 30px;
    border-radius: 4px;
    padding: 1%;

}

.portfolio-container > div:hover {
    /*background-color: #1F3335;*/
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px auto 10px auto;
    font-size: 30px;
    border-radius: 4px;
    padding: 1%;

}

.portfolio-container > div > h2 {
    padding-bottom: 5px;
    margin-left: 0;
    max-width: 1167px;
}

.portfolio-container > div > p {
    padding: 0 10px 10px 0;
    font-size: 15px;
    width: 100%;
    margin: auto;
    text-align: justify;

}

.portfolio-container > div > a > img {
    width: 100%;
}

.portfolio-container > div > img {
    width: 100%;
    margin: auto;
    display: block;

}

.row-container {
    display: inline-flex;
    width: 100%;
    flex-wrap: wrap;
}

.row-container > div {
    /*width: 100%;*/
    width: 33.3333%;
    display: block;
    vertical-align: top;
    padding: 1em;
}

.row-container h2 {
    text-align: center;
    margin: 0
}

.grid-container > h1 {
    text-align: center;
    padding-left: 0;
    margin: 0
}

.row-container > div > img {
    width: 40%;
    margin: auto;
    display: block;
    max-width: 200px;
}

.item-container {
    width: 100%;
    padding: 0 0;
    text-align: center;
}

.item-cards > div {
    background-color: darkslategrey;
    width: 23%;
    margin: 10px 10px 10px auto;
    border-radius: 4px;
    display: inline-block;
    top: 0;
    bottom: 0;
    vertical-align: top;
}

.item-cards > div > h2 {
    padding-bottom: 4px;
}

.item-cards > div > h3 {
    padding-left: 15px;
    padding-bottom: 5px;
}

.card-description {
    background-color: white;
    color: #1F3335;
}

.card-description > p {
    padding: 10px;
}

.card-links > a {
    padding: 3px
}

.background-wrapper {
    width: 100%;
}

.white {
    color: white;
}

.background-white {
    background-color: white;
    color: black;
}

.grey {
    background-color: darkslategrey;
}

.grey:hover {
    background-color: #1F3335;
    border-color: #58130e;
}

.drop-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.drop-shadow:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}

/*footer*/
.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #1F3335;
    color: white;
    text-align: center;
}

.footer > div > a {
    padding: 5px;
}

/*404*/
.noref {
    padding: auto;

}

.parallax {
    background: no-repeat fixed;
    background-size: cover;
}

/*make landing responsive*/
@media screen and (max-width: 900px) {
    #landing-text {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }

    #landing-image {
        min-height: 150px;
    }

    .flex-container > div {
        width: 48%;
    }

    .portfolio-container > div {
        width: 45%;
    }

    .item-cards > div {
        width: 46%;
    }

    .row-container > div {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .portfolio-container > div {
        width: 90%;
    }

    .item-cards > div {
        width: 90%;
    }

    .flex-container > div {
        width: 90%;
    }
}

.glitch {
    font-size: 100px;
    position: relative;
    width: 400px;
    margin: 0 auto;
}
