@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('fonts/fonts.css');

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    font-family: 'Proxima Nova', "Times New Roman", serif;
    background-color: #1F3335;
}

h1 {
    font-size: 30px;
    font-family: 'proxima_nova_altbold', "Times New Roman", serif;
    padding-top: 1em;
    margin-left: 5%;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    padding-top: 1em;
    margin-left: 5%;
    margin-top: 0;
    display: inline-block;
}

a {
    color: inherit;
}

a.rounded {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
}

a.rounded:hover {
    border-color: rgba(255, 255, 255, 1);
}

@media all and (max-width: 30em) {
    a.rounded {
        display: block;
        margin: 0.2em auto;
    }
}


.header {
    background-color: #1F3335;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    width: 100%;
    z-index: 3;
    color: white;
    font-size: 20px;
    top: 0;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: #1F3335;
}

.header li a {
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 10px 10px;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: darkslategrey;
}

/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }
}

/*dropdown menu bar*/
.header ul ul {
    display: none;
    position: absolute;
    top: 100%;
    background: #1F3335;
    padding: 0
}

.header ul ul li {
    float: none;
    width: 200px
}

.header ul ul a {
    line-height: 120%;
    padding: 10px 15px
}

.header ul li:hover > ul {
    display: block
}


/* Page content */
.content {
    padding: 16px;
}


.logo {
    display: inline;
    vertical-align: top;
    left: 10px;
    width: 90px;
    height: 65px;
    margin-right: 20px;
    fill: white !important;
    padding-left: 1em;
}



/*Landing*/
.landing-wrapper {
    width: 100%;
    padding-top: 60px;
    margin: 0;
    display: inline-block;
    background-image: url("./images/lowpoly.jpg")
}

.landing-wrapper h1 {
    color: white;
    width: 40%;
    font-weight: lighter;
    float: left;
    padding-top: 2em;
}

.landing-slider {
    color: white;
    float: left;
    height: 400px;
    margin-left: 5%;
    width: 40%;
}

.logoslider-wrapper {
    background-color: #1F3335;
    padding: 0 0 20px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: -5px;
}

.logoslider-wrapper > h2 {
    padding-bottom: 1em;
}

.logoslider {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    display: block;
    float: right;
    color: white;
    align-content: center;
}

.logoslider-container {
    padding-left: 4em;
}

.logoslider div {
    align-content: center;
    text-align: center;
    display: inline-block;
    margin-left: 50px;
}

#landing-text {
    float: left;
    color: white;
    margin-left: 5%;
    width: 40%;
    vertical-align: center;
    display: inline-block;
}

#landing-text h1 {
    width: 80%;
    justify-content: end;
}

#landing-image {
    overflow: hidden;
    min-height: 300px;
    padding: 50px;

}

#landing-image img {
    width: 100%;
    float: right;
}

/*services*/
.services-wrapper {
    background-color: white;
}

.flex-container {
    display: inline-flex;
    flex-wrap: wrap;
}


.flex-container > div {
    background-color: #FFF;
    width: 24%;
    margin: 10px auto 10px auto;
    font-size: 30px;
}

.flex-container > div > h2 {
    padding-bottom: 5px;
    max-width: 1167px;
    padding-left: 10px;
}

.flex-container > div > p {
    padding: 0 20px 20px 20px;
    font-size: 15px;
    width: 80%;
    margin: auto;
    text-align: justify;

}

.flex-container > div > img {
    width: 40%;
    margin: auto;
    display: block;
    max-width: 200px;
}

/*client list*/
.clientGrid {
    background-color: #1F3335;
    color: white;
    margin: 0;
}

.clientGrid h2, p {
    margin: 0;
    text-align: center;

}

.clientGrid img {
    width: 33%;
    max-height: 100px;
    max-width: 200px;
    top: 0;
    bottom: 0;
    margin: auto;
    vertical-align: middle;

}

.clientGrid p {
    padding: 10px 0 15px 0;
}

.centerWrapper {
    margin: auto;
    max-width: 600px;
}

/*diagonal*/
.diagonal {
    background: teal;
    z-index: 1;
    padding: 3em;
}

.diagonal:before {
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);
    -webkit-transform-origin: 3% 0;
    transform-origin: 3% 0;
    top: 0;
    left: -25%;
    z-index: -1;
    width: 150%;
    height: 75%;
    background: inherit;
}

/*footer*/
.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #1F3335;
    color: white;
    text-align: center;
}

.footer > div > a {
    padding: 5px;
}

/*make landing responsive*/
@media screen and (max-width: 900px) {
    h2 {
        text-align: left;
        padding-left: 5%;
    }

    #landing-text {
        float: none;
        margin-right: 0;
        width: auto;
        border: 0;
    }

    #landing-image {
        min-height: 150px;
    }

    .flex-container > div {
        width: 48%;
    }

}





