body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
    --main-accent-color: brown;
}


.drop-shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.drop-shadow:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.white {
    color: white;
}

.dark {
    color: #9a9a9a;
}
