.work-grid-wrapper{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    padding: 0 50px;
}

@media only screen and (max-width: 500px) {
    .work-grid-wrapper{
        padding:0;
    }
}

