.work-page-wrapper{
    width:100%;
    display: flex;
    flex-direction: column;
    color:white;
}

.work-page-section{
    display: flex;
    flex-direction: row;
    /*height:500px;*/
    padding: 50px 0;
}

.work-page-text-wrapper{
    width:50%;
    background-color: #1A1A1A;
    padding: 0 30px;
    white-space:pre-wrap;
}

.work-page-text-wrapper p {
    text-align: left;
    font-size: 14px;
}

.work-page-text-wrapper h1{
position: relative;
}

.work-page-text-wrapper h1:after{
    content:"";
    width:60%;
    height:1px;
    left:0;
    bottom:-10px;
    position: absolute;
    background-color: white;
}

.work-page-text{
    margin-top:50px;
}

.work-page-text-image-container{
    width:50%
}

.work-page-text-image{
    object-fit: cover;
    width: 100%;
    height:500px;
}

.work-page-image-slider{
    margin-left: 30px;
}

.work-page-scroll{
    height:300px;
    overflow-y: auto;
    margin-top: 50px;
    padding-right:20px;
}

.work-padding{
    padding-left:40px;
    padding-right: 40px;
}





.square{
    width:200px;
    height:200px;
}

[data-aos="image-slide"] {
    transform: scaleX(0);
    transform-origin: 0 50%;
    /*opacity: 0;*/
    transition-property: transform;
}
[data-aos="image-slide"].aos-animate {
    transform: scaleX(1);
    /*opacity: 1;*/
}

/* width */
.work-page-scroll::-webkit-scrollbar {
    width: 5px;
    height:7px;
}

/* Track */
.work-page-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.work-page-scroll::-webkit-scrollbar-thumb {
    background-color: #E4324C;
    border-radius: 10px;
}

/* Handle on hover */
.work-page-scroll::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}


/*.slide-left{*/
    /**/
/*}*/

/*@keyframes  {*/
    /**/
/*}*/
